<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sparkhub{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'signout' %}" class="logout-button">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 Sparkhub</p>
    </footer>
</body>
</html>
